.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 2px solid #000;
  background-image: url("https://66.media.tumblr.com/e140f0fc34534affb60adb858fe91d0e/tumblr_p8sk3sGQEs1wy9n08o2_1280.jpg");
  background-position: center;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: rgb(255, 184, 196);
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: rgb(0, 247, 12);
  border: 1px solid #fff;
  z-index: 1;
}

.title {
  color: white;
  text-align: center;
}